<%= provide(:title, 'Relationship Systems Questionnaire') %>
<div class="row">
  <aside class="col-md-4">
    <section class="question_info">
      <h1>
        <%= @question.body %>
        <ul>
          <% @answers.each do |answer| %>
          <li><%= answer.body %></li>
          <% end %>
        </ul>
      </h1>
    </section>
  </aside>
</div>