<div class="center jumbotron">
  <h2>
    <p>This application is designed to give you and your significant other a fresh and healing perspective on what is happening inside each of you, and between both of you, when you are fighting, or when you are just feeling disconnected from each other.</p>

    <p>Hopefully this new way of looking at tough moments in your relationship will be the first step on the path to you and your partner being able to recognize and de-escalate conflict swifty, setting the foundation for loving repair and emotional bonding between you in a way that creates safety, closeness, love and empathy for each other. Who doesn’t want that?</p>
  </h2>
  <%= link_to "Take our Quiz!", 'quiz_path', class: "btn btn-lg btn-primary" %>
</div>