<%= provide(:title, 'Questionnaires') %>
<div class="row">
  <aside class="col-md-4">
    <section class="questionnaire_info">
      <h1>
        <% @questionnaire.each do |questionnaire| %>
          <tr>
            <td><%= questionnaire.name %></td>
          </tr>
        <% end %>
      </h1>
    </section>
  </aside>
</div>